code.line-numbers {
  counter-reset: line_numbers;
}

code span.line-number {
  counter-increment: line_numbers;
}

code span.line-number:before {
  content: counter(line_numbers);
  color: gray;
  text-align: center;
  float: left;
  width: 2ch;
}

code span.highlight-line:before {
  color: yellow;
}
